a {
    text-decoration: none;
    color: $heading-color;
}
a:active {
    color: thistle;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 1;
    color: $heading-color;
}