//!* font
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Questrial', sans-serif;
//!* color
$bg-color: #FAFAFA;
$text-color: #555;
$heading-color: #222;
$text-btn-color: #404e6f;
//!*----------khoảng cách--------
$wrapper: 1920px;
$container: 1250px;