header.header
        .header-top.container
            .header-content
                .header-logo 
                    img.header-logo(src="./images/hieutv-logo3x.png")
                i.fa.fa-bars.header-toggle
            .header-bottom
                ul.header-list 
                    +liItem('Trang chủ')
                    +liItem('podcast')
                    +liItem('Cộng đồng')
                    +liItem('tạp chí')
                    +liItem('thư viện')
                    +liItem('blog')
                    +liItem('⦿')
                    +liItem('khóa học đầu tư')
                    +liItem('dành cho học viên')
            
