header.header
        .header-top.container
            img.header-logo(src="./images/hieutv-logo3x.png")
            ul.header-list 
                +liItem('Trang chủ')
                +liItem('podcast')
                +liItem('Cộng đồng')
                +liItem('tạp chí')
                +liItem('thư viện')
                +liItem('blog')
                +liItem('·')
                +liItem('khóa học đầu tư')
                +liItem('dành cho học viên')
