section.intro 
    .intro-content.intro-container
        h3.intro-heading3 xin chào anh chị và các bạn 
        h6.intro-caption Tại website này các anh chị có thể tìm thấy tất cả những thông tin liên quan về podcast và tải về những nội dung miễn phí mà tôi đang chia sẻ.
        +btnRadius50('#' ,'Đăng kí nhận cập nhật')