section.podcast 
    .podcast-content.podcast-container
        h2.podcast-heading podcast tập mới nhất
        a.podcast-link(href="#")
            img.podcast-img(src="./images/di-ngu-van-co-tien-podcast.jpg")
        +btnRadius50('#', 'Xem các tập khác')