header {
    border-bottom: 1px solid #ccc;
    background-color: #fafafa;
}
.header.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    animation: fade 0.1s forwards 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header {
    padding: 2.5rem 0;
    background-color: #fff;
    &-toggle {
        display: none;
    }
    &-logo {
        height: 3rem;
    }
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        &-item {
            margin-left: 2rem;
            text-transform: uppercase;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header-bottom.is-show {
        height: auto;
    }
    .header-content * {
        pointer-events: none;
    }
    .header {
        padding: 2rem 0;
        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &-toggle {
            display: block;
            margin-left: auto;
            font-size: 3.4rem;
            transition: all 0.35s linear;
        }
        &-top {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        &-list {
            display: flex;
            flex-direction: column;
            left: 0;
            align-items: flex-start;
            &-item {
                margin-top: 2rem;
                color: $text-btn-color;
            }
        }
        &-bottom {
            height: 0;
            overflow: hidden;
            transition: all 0.3s linear;
        }
    }
}